<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel='stylesheet' href='/stylesheets/style.css'>
		<!--For bootstrap -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
	</head>

	<body>
		<div id="page" ></div>
		<!-- Below are js files with codes written by us-->
		<script type="text/jsx" src="/javascripts/mainpage.js"></script>
		
		<!-- JSXTransformer and react.js are for react -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
		 <!-- Jquery & bootstrap js are for using bootstrap-->
 	   	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>	
 

	</body>

</html>